.search{
    background-color: #5f9ea0;
    padding: 2rem;
    /* background-origin: padding-box; */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search p{
    color: rgb(28, 9, 27);
}

.search_container{
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button{
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #9cb2b3;
}

.search_container button{
    background-color:#313834 ;
    cursor: pointer;
    border-radius: 1rem;
}